{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.10"
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "ramda",
    "lodash",
    "transform-async-to-bluebird",
    "transform-promise-to-bluebird",
    "transform-runtime"
  ]
}
