{
  "presets": [
    ["env", {
      "targets": {
        "node": "8.10"
      }
    }],
    "stage-0"
  ],
  "plugins": [
    "ramda",
    "lodash",
    ["transform-inline-imports-commonjs", {
      "excludeNodeBuiltins": true
    }],
    "transform-async-to-bluebird",
    "transform-promise-to-bluebird"
  ]
}
